REACT_APP_SUPABASE_URL = http://localhost:54321 
REACT_APP_SUPABASE_API_KEY = # Paste anon key here
REACT_APP_YOUTUBE_API_KEY = # You can get it from here: https://developers.google.com/youtube/v3/getting-started
REACT_APP_SENTRY_DSN = # If needed
REACT_APP_BASE_URL = http://localhost:3000
